body {
  background-color: lightgrey;
}


header {
  border: 3px solid orangered;
}

h1 {
  margin: auto;
  text-align: center;
  color: orangered;
}


ul {
  list-style-type: none;
  padding-left: 45%;
}

ul li::before {
  content: "\2022";
  color: orangered;
  display: inline-block;
}

ol {
  list-style-type: none;
  padding-left: 45%;
}

ol li::before {
  content: "\2022";
  color: orangered;
  display: inline-block;
}


img {
  height: 275px;
  width: 175px;
  border-radius: 25px;
  padding-top: 20px;
}

h2 {
  margin: auto;
  text-align: center;
  color: orangered;
}

#questionsHeader {
  width: 100%;
  border: 3px solid orangered;
}

#topTenHeader {
  width: 100%;
  border: 3px solid orangered;
}

#workHeader {
  width: 100%;
  border: 3px solid orangered;
}

#myBio {
  width: 35%;
  text-indent: 15px;
  padding-right: 100px;
  padding-left: 15%;
  display: inline-block;
}